@tailwind base;
@layer base{
  body{
    @apply font-gupter;
  }
  body a{
    color: initial;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6{
    @apply font-mons;
    margin: 24px 0px;
  }
}