@tailwind base;
@tailwind components;
@tailwind utilities;
.input-form{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    border-left-width: 10px;
}
.btn{
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.form{
    width: 700px;
    padding: 70px;
    border-radius: 15px;
    border: 8px solid black;
}
.form-click:hover{
    text-decoration: underline;
    cursor: pointer;
}
.info-form{
    width: 1213px;
    padding: 70px;
}
.grid-area{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap: 15px;
}
.rounded-img{
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    padding: 25px;
    cursor: pointer;
    position: relative;
}
.select-img{
    background-color: white;
    padding: 50px 15px;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 25%;
    height: 400px;
    overflow-y: auto;
}
.selected-img{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 30px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #fabf12;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.avt{
    border: 2px solid black;
    border-radius: 50%;
    padding: 50px;
    width: 50%;
    position: relative;
}
.avt:hover .layout{
    display: block;
    cursor: pointer;
}
.change-bg:hover, .change-avt:hover{
    background-color: black;
    color: white;
}
.avt-layout{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}
.login-bg{
    background-image: url(./assets/img/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
}
.curtain{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.shopping-dot{
    background-color: white;
    color: black;
    width: 15px;
    height: 15px;
    display: none;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    position: absolute;
    top: 30px;
    right: 5px;
}
.shop-option{
    border-bottom: 5px solid transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    padding: 15px;
    border-bottom: 8px solid transparent;
}
.shop-option:hover .shopping-dot{
    background-color: black;
    color: white;
}
.shop-option:hover {
    cursor: pointer;
    border-bottom: 5px solid white;
    transform: translateY(-5px);
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 8px 5px 0px white;
    border-bottom: 8px solid black;
}
.container{
    max-width: 1280px;
    margin: 90px auto 0px auto;
    padding: 0 20px;
}
.right-slide{
    border-right: 5px solid black;
    padding: 25px 15px 25px 0px;
}
.h-500{
    max-height: 500px;
}
.left-slide{
    padding: 25px;
    margin-left: 25px;
    background-color: black;
    color: white;
}
.img-slide{
    height: 650px;
}
.discover-btn{
    width: 100%;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
.discover-btn:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.product-area{
    box-shadow: 0px 0px 5px 0px black;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-area img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.add-btn{
    background-color: black;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px;
    border: 2px solid transparent;
    width: 100%;
}
.text-3xl{
    font-size: 1.875rem !important;
}
.add-btn:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border: 2px solid black;
}
.grid{
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    row-gap: 20px;
}
.price-tag{
    display: inline-block;
    width: 110px;
    height: 38px;
    text-align: center;
    background-color: red;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;
    border-left: 1px solid red;
    margin-left: 19px;
    position: absolute;
    color: white;
    line-height: 38px;
    padding: 0 10px 0 10px;
    top: 11%;
    left: 65%;
    rotate: 90deg;
}
.price-tag:before{
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid red; 
}
.price-tag:after{
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
}
.new .fa-gem{
    color: #55badd;
}
.new{
    left: 35%;
    top: 60%;
}
.out-sold{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(250, 250, 250, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.amount i{
    border: 1px solid rgb(163, 161, 161);
    padding: 5px;
    cursor: pointer;
}
.amount input{
    border: 1px solid rgb(163, 161, 161);
    padding: 1px;
    max-width: 40px;
    text-align: center;
}
.tab-buttons{
    border-bottom: 1px solid black;
}
.tab-btn{
    padding: 10px;
    min-width: 150px;
    text-transform: uppercase;
}
.tab-btn.active{
    background-color: black;
    color: white;
    font-weight: bold;
}
.color-selected{
    border: 3px solid black;
}
.color-tab{
    cursor: pointer;
}
.border-red {
    border-color: red;
}
.border-yellow {
    border-color: yellow;
} 
.border-pink {
    border-color: pink;
}  
.border-brown {
    border-color: brown;
}
.size{
    min-width: 40px;
    text-align: center;
    padding: 5px 10px;
}
.size.active{
    background-color: rgb(161, 159, 159);
}
.hide-text{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.edit-product:hover .hide-text{
    display: block;
}
.popup{
    width: 1280px;
    background-color: white;
}
.popup-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}